.right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    position: relative;
    width: 270px;
}

.right .main-frame {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.right .msg-frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
}

.right .text-frame {
    align-items: center;
    background-color: #7649bb;
    border-radius: 25px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

.right .text-wrapper {
    color: #fdfdfd;
    font-family: "Inria Sans", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.07px;
    line-height: 16.3px;
    margin-top: -1px;
    position: relative;
    width: 170px;
    word-break: break-all;
}

.right .tail-frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    margin-top: -17px;
    padding: 4px 0px;
    position: relative;
}

.right .union {
    height: 11.55px;
    margin-bottom: -0.5px;
    margin-left: -0.52px;
    margin-right: -0.11px;
    margin-top: -1.03px;
    position: relative;
    width: 23.41px;
}


.left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: relative;
    width: 270px;
}

.left .name {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 0px 24px;
    position: relative;
}

.left .text-wrapper {
    color: #8a898e;
    font-family: "Inria Sans", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    word-break: break-all;
}

.left .main-frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.left .msg-frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 0px 7px;
    position: relative;
}

.left .text-frame {
    align-items: center;
    background-color: #e9e9eb;
    border-radius: 25px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

.left .your-message-goes {
    color: #555555;
    font-family: "Inria Sans", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.07px;
    line-height: 16.3px;
    margin-top: -1px;
    position: relative;
    width: 170px;
}

.left .tail-frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    margin-top: -17px;
    padding: 4px 0px;
    position: relative;
}

.left .union {
    height: 11.55px;
    margin-bottom: -0.5px;
    margin-left: -0.12px;
    margin-right: -0.52px;
    margin-top: -1.05px;
    position: relative;
    width: 22.63px;
}